@model ÄlytaloWEB.ViewModels.SaunaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaloSauna</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.Sauna_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sauna_ID)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.SaunanNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunanNimi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunaTavoiteLampotila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaTavoiteLampotila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunaNykyLampotila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunaNykyLampotila)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaunanTila)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaunanTila)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Sauna_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
